<div class = "flex flex-row justify-start w-full bg-[#3778c2] text-white text-center py-3 text-xl">
  <%= button_to "EXIT", destroy_user_session_path, method: :delete, class: 'ml-4 text-[12px]' %>
  <h2 class = "w-full mr-4" >CATEGORIES</h2>
</div>

<div>
  <div class = "flex flex-col bg-[#f1f3f2] w-full">
    <% @cats.each do |cat| %>
      <div class = "flex flex-row justify-between mx-4 my-2 bg-[#fdfdfd] text-[#9e9e9e]">
        <% if cat.icon.attached? %>
          <div class="object-scale-down w-16 pl-2 py-2">
            <%= link_to group_path(cat) do %>
              <%= image_tag cat.icon %>
            <% end %>
          </div>
        <% end %>
        <div class = "flex flex-col justify-between pr-4 py-4">
          <%= link_to group_path(cat) do %>
            <p><%= cat.name %></p>
          <% end %>
          <p>Total Amount: $<%= cat.total_amount(cat.id) %></p>
        </div>
      </div>
    <% end %>
  </div>
  <div class="fixed bottom-0 w-full">
    <%= link_to new_group_path do %>
      <button class = "w-full bg-[#60b524] text-[#f1f3f2] py-6">
        <p class = "mx-4 py-3 border-2 border-[#f1f3f2]">ADD NEW CATEGORY</p>
      </button>
    <% end %>
  </div>
</div>
