<div class = "flex flex-row justify-start w-full bg-[#3778c2] text-white text-center py-3 mb-2 text-xl">
  <%= button_to "EXIT", destroy_user_session_path, method: :delete, class: 'ml-4 text-[12px]' %>
  <h2 class = "w-full mr-4" >ADD A NEW TRANSACTION</h2>
</div>

<%= form_with model: @operation, url: operations_path, method: :post do |form| %>
  <div>
    <%= form.text_field :name, placeholder: "Transaction Name", class: 'border-1 border-[#9e9e9e] border-x-white w-full focus:outline-none focus:border-gray-400 focus:ring-1 focus:ring-gray-400' %>
  </div>
  <div>
    <%= form.number_field :amount, placeholder: "Amount", class: 'border-1 border-[#9e9e9e] border-x-white w-full focus:outline-none focus:border-gray-400 focus:ring-1 focus:ring-gray-400' %>
  </div>
  <div class = "border-1 border-[#9e9e9e]">
    <%= form.label :food_id, "Select Category:", class: "ml-3" %>
    <%= form.collection_select :group_id, @groups, :id, :name %>
  </div>

  <div class = "fixed bottom-0 w-full text-center">
    <div class="w-full bg-[#60b524] text-[#f1f3f2] pt-4 pb-2 text-center">
      <%= form.submit "SAVE TRANSACTION", class: 'w-[90%] py-2 text-center border-2 border-[#f1f3f2] cursor-pointer hover:text-lg' %>
    </div>
    <%= link_to group_path(params[:format]) do %>
      <button class = "w-full bg-[#60b524] text-[#f1f3f2] pb-4">
        <p class = "mx-4 py-2 border-2 border-[#f1f3f2] hover:text-lg">CANCEL</p>
      </button>
    <% end %>
  </div>
<% end %>
